@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:wght@300;700;800&display=swap');

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  color: rgb(254, 254, 254);
  margin-top: 50px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url('../assets/pradera.png') !important;
  background-blend-mode: hard-light;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
