@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:wght@300;700;800&display=swap');

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  color: rgb(254, 254, 254);
  margin-top: 50px;
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(
    #17082e 0,
    #1a0933 7%,
    #c9a102 80%,
    #0c1f4c 100%
  ) !important;
}
